[submodule "source/images/tombraider"]
	path = source/images/tombraider
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-tombraider.git
[submodule "source/images/pillars"]
	path = source/images/pillars
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-pillars.git
[submodule "source/images/warhammerquest"]
	path = source/images/warhammerquest
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-warhammerquest.git
[submodule "source/images/gta5"]
	path = source/images/gta5
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-gta5.git
[submodule "source/images/hearthstone"]
	path = source/images/hearthstone
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-hearthstone.git
	branch = master
[submodule "source/images/commandos"]
	path = source/images/commandos
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-commandos.git
	branch = master
[submodule "source/images/witcher2"]
	path = source/images/witcher2
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-witcher2.git
	branch = master
[submodule "source/images/torchlight2"]
	path = source/images/torchlight2
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-torchlight2.git
	branch = master
[submodule "source/images/misc"]
	path = source/images/misc
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-misc.git
	branch = master
[submodule "source/images/skyrim"]
	path = source/images/skyrim
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-skyrim.git
	branch = master
[submodule "source/images/mordheim"]
	path = source/images/mordheim
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-mordheim.git
	branch = master
