[submodule "source/images/tombraider"]
	path = source/images/tombraider
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-tombraider.git
[submodule "source/images/pillars"]
	path = source/images/pillars
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-pillars.git
[submodule "source/images/warhammerquest"]
	path = source/images/warhammerquest
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-warhammerquest.git
[submodule "source/images/gta5"]
	path = source/images/gta5
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-gta5.git
[submodule "source/images/hearthstone"]
	path = source/images/hearthstone
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-hearthstone.git
	branch = master
[submodule "source/images/commandos"]
	path = source/images/commandos
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-commandos.git
	branch = master
[submodule "source/images/witcher2"]
	path = source/images/witcher2
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-witcher2.git
	branch = master
[submodule "source/images/torchlight2"]
	path = source/images/torchlight2
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-torchlight2.git
	branch = master
[submodule "source/images/misc"]
	path = source/images/misc
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-misc.git
	branch = master
[submodule "source/images/skyrim"]
	path = source/images/skyrim
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-skyrim.git
	branch = master
[submodule "source/images/mordheim"]
	path = source/images/mordheim
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-mordheim.git
	branch = master
[submodule "source/images/batman-arkham-city"]
	path = source/images/batman-arkham-city
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-batman-arkham-city.git
	branch = master
[submodule "source/images/dead-island"]
	path = source/images/dead-island
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-dead-island.git
	branch = master
[submodule "source/images/dishonored"]
	path = source/images/dishonored
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-dishonored.git
	branch = master
[submodule "source/images/hitman-absolution"]
	path = source/images/hitman-absolution
	url = pixelastic@bitbucket.org:pixelastic/videogames.pixelastic.com-hitman-absolution.git
	branch = master
[submodule "source/images/thief"]
	path = source/images/thief
	url = pixelastic@bitbucket.org:pixelastic/videogames.pixelastic.com-thief.git
	branch = master
[submodule "source/images/lego-harry-potter-years-5-7"]
	path = source/images/lego-harry-potter-years-5-7
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-lego-harry-potter-year-5-7.git
	branch = master
[submodule "source/images/tombraider-anniversary"]
	path = source/images/tombraider-anniversary
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-tombraider-anniversary.git
	branch = master
[submodule "source/images/gta4-lost-and-damned"]
	path = source/images/gta4-lost-and-damned
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-gta4-lost-and-damned.git
	branch = master
[submodule "source/images/spelunky"]
	path = source/images/spelunky
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-spelunky.git
	branch = master
[submodule "source/images/tinybrains"]
	path = source/images/tinybrains
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-tinybrains.git
	branch = master
[submodule "source/images/castlecrashers"]
	path = source/images/castlecrashers
	url = git@bitbucket.org:pixelastic/videogames.pixelastic.com-castlecrashers.git
	branch = master
