// Main page title
.u-page-title {
  text-align: left;
  font-size: 3rem;
  font-family: 'Orbitron';
  margin:1.5rem 0 1rem 0;
  color: $dark-blue;
  a {
    color: $dark-blue;
    &:hover {
      color: $secondary-blue;
    }
  }
}

// .u-section-title {
//   text-align: left;
//   font-size: 2rem;
//   font-family: 'Orbitron';
//   margin:1.5rem 0 0 1rem;
//   color: $color-text;
//   padding-bottom: 0.5rem;
//   border-bottom: 1px solid $color-text;
// }
