!!!
%html
  %head
    %title
      = current_page.data.title || "The Middleman"
    = stylesheet_link_tag :main

  %body
    %div.l-container
      %div.l-header
        =partial('partials/header')

      %div.l-content
        %div.o-outer-container
          = yield

      %div.l-footer
        =partial('partials/footer')

    = javascript_include_tag :all
