---
---
-game = data.send(game_name.to_sym)
-content_for(:title, game.name)
-tabs = game_files(game)
-# "misc",
-# "hitman-absolution",
-# "thief",
-# "dishonored",
-# "dead-island",
-# "batman-arkham-city",
-# "mordheim",
-# "skyrim",
-# "torchlight2",
-# "witcher2",
-# "commandos",
-# "hearthstone",

%div{class: ".t-#{game.slug}"}
  %h2
    =link_to game.name, "#{game.slug}.html"

  -# Tabs
  %ul.c-tabs
    -tabs.each_with_index do |tab, tab_index|
      - tab_id = "tab_#{tab_index}"
      %li.c-tab
        %input.c-tab--radio{type: 'radio', 
          name: 'tabs', 
          id: tab_id, 
          value: tab_id,
          checked: tab_index == 0}

        %label.c-tab--title{for: tab_id}
          =tab[:name]
        -# Because the `label` is display:inline-block, we must be careful as to 
        -# not add a new line between those two elements
        %div.c-tab--content
          %div.c-cards
            - tab[:files].each_with_index do |file, file_index|
              -link = media_link(file)
              -thumbnail = media_thumbnail(file)
              -classname = 'c-card__video' if video?(file)
              %a.c-card.js-fancybox{href: link, rel: tab_id, class: classname}
                - if file_index < 9
                  %div.c-card--image{'style': "background-image: url(#{thumbnail})"}
                - else
                  %div.c-card--image{'data-lazyload': thumbnail}
