---
---
-content_for(:title, "Videogames")

%div.c-cards
  - data.index.each do |game|
    - cover = "/images/covers/#{game.slug}.jpg"
    - cover = cloudinary_thumbnail(cover) if build?
    - link = "/#{game.slug}.html"
    %a.c-card.__with_name{href: link}
      %div.c-card--image{style: "background-image:url(#{cover});"}
      %div.c-card--name
        =game.name
